<div class="content">
  <div class="header">
    <div class="main-icon" (click)="onMain()">
      <img
        class="main-icon logo"
        src="../assets/buttons/pill-logo.png">
      <span class="main-icon title">ProPill</span>
    </div>
    <div class="search-bar">
      <img class="search-icon" alt="search-icon" src="../assets/buttons/search-logo.png"/>
      <form action="/search">
        <input placeholder="Поиск по названию препарата, например Витамин D"
               type="text" name="searchRequest" [(ngModel)]="searchRequest" autocapitalize="off" autocomplete="off"
               autocorrect="off" spellcheck="false" maxlength="255" class="textarea">
      </form>
    </div>

    <button class="button-color search-button" (click)="searchItems()" tabindex="0">Искать</button>

    <div *ngIf="this.notNull(); else elseBlock">
      <div *ngIf="this.isNormal() || this.isDoctor() else elseBlock;">
      <app-header-authorized (onFilterChange)="changeFilterStatus($event)" [onFilter]="this.onFilter"></app-header-authorized>
    </div>
      <ng-template #elseBlock>
        <div *ngIf="this.isAdmin(); else elseBlock">
          <app-header-pharmacist (onFilterChange)="changeFilterStatus($event)" [onFilter]="this.onFilter"></app-header-pharmacist>
        </div>
      </ng-template>
      <ng-template #elseBlock>
        <div>
          <app-header-unauthorized (onFilterChange)="changeFilterStatus($event)" [onFilter]="this.onFilter"></app-header-unauthorized>
        </div>
      </ng-template>
    </div>
    <ng-template #elseBlock>
      <div>
        <app-header-unauthorized (onFilterChange)="changeFilterStatus($event)" [onFilter]="this.onFilter"></app-header-unauthorized>
      </div>
    </ng-template>

  </div>
  <div *ngIf="onFilter">
    <app-filter (onReloadList)="reloadList($event)" [hasAccess]="this.isDoctor() || this.isAdmin()"></app-filter>
  </div>
</div>
